cachetools==6.2.0
google-api-core==2.30.3; python_version < "3.10"
google-api-core==2.32.0; python_version >= "3.10"
google-auth==2.50.0; python_version < "3.10"
google-auth==2.56.0; python_version >= "3.10"
google-cloud-bigquery==3.35.1
grpcio==1.80.0; python_version < "3.10"
grpcio==1.82.1; python_version >= "3.10"
grpcio-status==1.80.0; python_version < "3.10"
grpcio-status==1.82.1; python_version >= "3.10"
proto-plus==1.27.2; python_version < "3.10"
proto-plus==1.28.1; python_version >= "3.10"
pyasn1==0.6.1
rsa==4.9.1
uritemplate==4.2.0
